.link-button {
  display: block;
  margin-top: 5px;
  box-sizing: border-box;
  text-align: center;
  padding: 8px 10px;
  text-decoration: none;
  border-radius: var(--border-radius);
  background: var(--primary-color);
  color: var(--secondary-text-color);
  cursor: pointer;
  transition: background 0.25s;
  &:hover {
    text-decoration: none;
    background: var(--dark-primary-color);
  }
  @include focus;
}
