<template>
  <div class="card-collection">
    <el-row :gutter="20">
      <el-col :span="4">
        <template v-if="activeCard">
          <template v-if="activeCard.cards[0]">
            <el-image
              :lazy="true"
              fit="contain"
              :src="activeCard.cards[0].image"
              :preview-src-list="[activeCard.cards[0].image]"
              hide-on-click-modal
            >
              <template #placeholder><div v-loading="true"></div> </template>
            </el-image>
          </template>
        </template>
      </el-col>
      <el-col :span="20"
        ><template v-if="activeCard">
          <div class="content">
            <h2>{{ activeCard.name }}</h2>
            <h3 v-if="activeCard.metadata">{{ activeCard.metadata.type }}</h3>
            <p v-if="activeCard.metadata">
              {{ activeCard.metadata.description }}
            </p>
          </div>

          <el-button
            v-if="isAdmin"
            :size="interfaceSize"
            type="primary"
            @click="openDetailedCardCreateDialog(activeCard)"
            >Add detailed card</el-button
          >

          <div class="table">
            <el-table v-loading="isLoading" :size="interfaceSize" :data="activeCard.cards">
              <el-table-column prop="number_of_copies" label="Copies" width="100" />
              <el-table-column v-slot="{ row: card }" class-name="monospace" prop="set.name" label="Set">{{
                getSetLabel(card.set)
              }}</el-table-column>
              <el-table-column prop="setnumber" label="Number" width="100" />
              <el-table-column prop="rarity.name" label="Rarity" width="100" />
              <el-table-column prop="language.name" label="Language" width="100" />
              <el-table-column prop="singleValue" label="Single Value" align="right" width="100">
                <template #default="{ row: card }"> {{ formatNumber(card.singleValue) }}</template>
              </el-table-column>
              <el-table-column prop="totalValue" label="Total Value" align="right" width="100">
                <template #default="{ row: card }"> {{ formatNumber(card.totalValue) }}</template>
              </el-table-column>
              <el-table-column v-if="isAdmin" label="Actions" align="center" width="200">
                <template #default="{ row: card }">
                  <el-button :icon="Edit" :size="interfaceSize" @click="openDetailedCardUpdateDialog(card)"
                    >Edit</el-button
                  >
                  <el-button :icon="Delete" :size="interfaceSize" type="danger" @click="deleteDetailedCard(card)"
                    >Delete</el-button
                  >
                </template>
              </el-table-column>
            </el-table>
          </div>
        </template></el-col
      >
    </el-row>
    <el-divider />
    <div class="bottom">
      <el-row>
        <el-col :span="12">
          <el-button v-if="isAdmin" :size="interfaceSize" type="primary" @click="openCardCreateDialog"
            >Add Card</el-button
          >
        </el-col>
        <el-col :span="12">
          <el-row align="middle" type="flex">
            <el-col :span="6">Value: {{ getValueOfCollection(cards) }}</el-col>
            <el-col :span="6">Cards: {{ getCardCount(cards) }}</el-col>
            <el-col :span="12">
              <el-input v-model="searchString" type="search" :prefix-icon="Search" placeholder="Type something" />
            </el-col>
          </el-row>
        </el-col>
      </el-row>
      <div class="table">
        <el-table
          v-loading="isLoading"
          :data="paginatedData"
          :default-sort="{ order: 'ascending', prop: 'name' }"
          :size="interfaceSize"
          @sort-change="sort"
          @row-click="rowClick"
        >
          <el-table-column
            prop="number_of_copies"
            label="Copies"
            sortable="custom"
            width="100"
            :sort-orders="['ascending', 'descending', 'ascending']"
          />
          <el-table-column
            prop="name"
            label="Name"
            sortable="custom"
            :sort-orders="['ascending', 'descending', 'ascending']"
          />
          <el-table-column
            prop="value"
            label="Value"
            sortable="custom"
            align="right"
            width="100"
            :sort-orders="['ascending', 'descending', 'ascending']"
            ><template #default="{ row: card }"> {{ formatNumber(card.value) }}</template></el-table-column
          >
          <el-table-column v-if="isAdmin" label="Actions" align="center" width="200">
            <template #default="{ row: card }">
              <el-button :icon="Edit" :size="interfaceSize" @click="openCardUpdateDialog(card)">Edit</el-button>
              <el-button
                :icon="Delete"
                :disabled="card.cards.length > 0"
                :size="interfaceSize"
                type="danger"
                @click="deleteCard(card)"
                >Delete</el-button
              >
            </template>
          </el-table-column>
        </el-table>
      </div>
      <el-pagination
        :total="sortedData.length"
        :current-page="currentPage"
        :page-size="pageSize"
        @current-change="handlePageChange"
      />
    </div>
    <el-dialog v-model="isCardCreateDialogVisible" title="Create Card" @close="closeCardCreateDialog">
      <el-input v-model="cardForm.name" placeholder="Name" />
      <template #footer>
        <el-button @click="closeCardCreateDialog">Cancel</el-button>
        <el-button type="primary" @click="createCard">Create</el-button>
      </template>
    </el-dialog>

    <el-dialog v-model="isCardUpdateDialogVisible" title="Update Card" @close="closeCardUpdateDialog">
      <el-input v-model="cardForm.name" placeholder="Name" />
      <template #footer>
        <el-button @click="closeCardUpdateDialog">Cancel</el-button>
        <el-button type="primary" @click="updateCard">Update</el-button>
      </template>
    </el-dialog>

    <el-dialog v-model="isDetailedCardCreateDialogVisible" title="Create Card" @close="closeDetailedCardCreateDialog">
      <el-form label-position="top">
        <el-form-item label="Copies"><el-input-number v-model="detailedCardForm.number_of_copies" /></el-form-item>
        <el-form-item label="Setnumber">
          <el-input v-model="detailedCardForm.setnumber" />
        </el-form-item>
        <el-form-item label="Rarity">
          <el-select v-model="detailedCardForm.rarity_id" filterable>
            <el-option v-for="rarity in rarities" :key="rarity.id" :value="rarity.id" :label="rarity.name" />
          </el-select>
        </el-form-item>
        <el-form-item label="Set">
          <el-select v-model="detailedCardForm.set_id" filterable>
            <el-option v-for="set in sets" :key="set.id" :value="set.id" :label="getSetLabel(set)" />
          </el-select>
        </el-form-item>
        <el-form-item label="Language">
          <el-select v-model="detailedCardForm.language_id" filterable>
            <el-option v-for="language in languages" :key="language.id" :value="language.id" :label="language.name" />
          </el-select>
        </el-form-item>
      </el-form>
      <template #footer>
        <el-button @click="closeDetailedCardCreateDialog">Cancel</el-button>
        <el-button type="primary" @click="createDetailedCard">Create</el-button>
      </template>
    </el-dialog>

    <el-dialog v-model="isDetailedCardUpdateDialogVisible" title="Create Card" @close="closeDetailedCardUpdateDialog">
      <el-form label-position="top">
        <el-form-item label="Copies"><el-input-number v-model="detailedCardForm.number_of_copies" /></el-form-item>
        <el-form-item label="Setnumber">
          <el-input v-model="detailedCardForm.setnumber" />
        </el-form-item>
        <el-form-item label="Rarity">
          <el-select v-model="detailedCardForm.rarity_id" filterable>
            <el-option v-for="rarity in rarities" :key="rarity.id" :value="rarity.id" :label="rarity.name" />
          </el-select>
        </el-form-item>
        <el-form-item label="Set">
          <el-select v-model="detailedCardForm.set_id" filterable>
            <el-option v-for="set in sets" :key="set.id" :value="set.id" :label="getSetLabel(set)" />
          </el-select>
        </el-form-item>
        <el-form-item label="Language">
          <el-select v-model="detailedCardForm.language_id" filterable>
            <el-option v-for="language in languages" :key="language.id" :value="language.id" :label="language.name" />
          </el-select>
        </el-form-item>
      </el-form>
      <template #footer>
        <el-button @click="closeDetailedCardUpdateDialog">Cancel</el-button>
        <el-button type="primary" @click="updateDetailedCard">Update</el-button>
      </template>
    </el-dialog>
  </div>
</template>

<script>
import { Edit, Delete, Search } from "@element-plus/icons-vue";
import { ElMessage, ElMessageBox } from "element-plus";
import _ from "lodash";
import cacheUtility from "../Utility/CacheUtility";
import apiUtility from "../Utility/ApiUtility";

export default {
  name: "CardCollection",
  props: {
    name: {
      type: String,
      default: "",
    },
    gameId: {
      type: Number,
      default: 0,
    },
    defaultLanguage: {
      type: Number,
      default: 0,
    },
    setCodeLength: {
      type: Number,
      default: 0,
    },
  },
  setup() {
    return {
      Edit,
      Delete,
      Search,
      ElMessage,
      ElMessageBox,
    };
  },
  data() {
    return {
      cards: [],
      sets: [],
      rarities: [],
      languages: [],
      states: {
        Normal: 0,
        Foil: 1,
        Promo: 2,
        "Reverse Foil": 4,
      },
      isAdmin: false,
      apiUtility,
      cacheUtility,
      searchString: "",
      // Card Dialogs
      isCardCreateDialogVisible: false,
      isCardUpdateDialogVisible: false,
      // Detailed Card Dialogs
      isDetailedCardCreateDialogVisible: false,
      isDetailedCardUpdateDialogVisible: false,
      lastUsedLanguage: null,
      lastUsedSet: null,
      lastUsedRarity: null,
      cardForm: {
        id: null,
        name: "",
      },
      detailedCardForm: {
        id: 0,
        card_id: 0,
        number_of_copies: 0,
        setnumber: "",
        rarity_id: 0,
        set_id: 0,
        language_id: 0,
      },
      // Active Card
      activeCard: null,
      // Pagination
      currentPage: 1,
      pageSize: 100,
      // Sorting
      sortData: {
        order: "ascending",
        prop: "name",
      },
      interfaceSize: "small",
      isLoading: true,
    };
  },
  computed: {
    filteredData() {
      return this.cards.filter((card) => {
        return card.name.toLowerCase().indexOf(this.searchString.toLowerCase()) >= 0;
      });
    },
    sortedData() {
      let sortedCards = _.sortBy(this.filteredData, [this.sortData.prop]);
      if (this.sortData.order === "descending") {
        sortedCards = sortedCards.reverse();
      }
      return sortedCards;
    },
    paginatedData() {
      return this.sortedData.slice(this.pageSize * this.currentPage - this.pageSize, this.pageSize * this.currentPage);
    },
  },
  async created() {
    this.isLoading = true;
    this.cards = this.cacheUtility.restore(`cards-${this.gameId}`) || [];
    this.languages = this.cacheUtility.restore("languages");
    this.sets = this.cacheUtility.restore(`sets-${this.gameId}`);
    this.lastUsedLanguage = this.defaultLanguage;

    await this.fetchCards();
    await this.fetchSets();
    await this.fetchRarities();
    await this.fetchLanguages();
    this.isLoading = false;
  },
  mounted() {
    this.activeCard = this.sortedData[0];
    this.setDefaultDetailedCardFormData();
  },
  methods: {
    rowClick(row) {
      this.activeCard = row;
    },
    sort({ order, prop }) {
      this.sortData.order = order;
      this.sortData.prop = prop;
    },
    handlePageChange(page) {
      this.currentPage = page;
    },
    // Detailed Card Create
    openDetailedCardCreateDialog(card) {
      this.isDetailedCardCreateDialogVisible = true;
      this.detailedCardForm.card_id = card.id;
    },
    closeDetailedCardCreateDialog() {
      this.isDetailedCardCreateDialogVisible = false;
    },
    // Detailed Card Update
    openDetailedCardUpdateDialog(card) {
      this.isDetailedCardUpdateDialogVisible = true;
      this.detailedCardForm.id = card.id;
      this.detailedCardForm.number_of_copies = card.number_of_copies;
      this.detailedCardForm.setnumber = card.setnumber;
      this.detailedCardForm.rarity_id = card.rarity.id;
      this.detailedCardForm.set_id = card.set.id;
      this.detailedCardForm.language_id = card.language.id;
    },
    closeDetailedCardUpdateDialog() {
      this.isDetailedCardUpdateDialogVisible = false;
    },
    // Detailed Card Delete
    deleteDetailedCard(card) {
      ElMessageBox.confirm("Do you really want to delete this card?", "warning")
        .then(() => {
          this.isLoading = true;
          this.apiUtility.call(`detailed_cards/${card.id}`, "DELETE", null, async () => {
            ElMessage({ message: "Successfully deleted detailed card.", type: "success" });
            await this.updateData();
            this.isLoading = false;
          });
        })
        .catch(() => {});
    },
    // Card Create
    openCardCreateDialog() {
      this.isCardCreateDialogVisible = true;
      this.cardForm.id = null;
      this.cardForm.name = "";
    },
    closeCardCreateDialog() {
      this.isCardCreateDialogVisible = false;
    },
    // Card Update
    openCardUpdateDialog(card) {
      this.isCardUpdateDialogVisible = true;
      this.cardForm.id = card.id;
      this.cardForm.name = card.name;
    },
    closeCardUpdateDialog() {
      this.isCardUpdateDialogVisible = false;
    },
    // Fetching Data
    async fetchCards() {
      this.cards = await this.apiUtility.call(`cards?game=${this.gameId}`);
      this.cacheUtility.save(`cards-${this.gameId}`, this.cards);
    },
    async fetchSets() {
      this.sets = await this.apiUtility.call(`sets?game=${this.gameId}`);
      this.sets = _.sortBy(this.sets, ["code"]);
      this.cacheUtility.save(`sets-${this.gameId}`, this.sets);
    },
    async fetchRarities() {
      this.rarities = await this.apiUtility.call(`rarities?game=${this.gameId}`);
    },
    async fetchLanguages() {
      this.languages = await this.apiUtility.call("languages");
      this.cacheUtility.save("languages", this.languages);
    },
    async updateData() {
      await this.fetchCards();
      this.activeCard = this.sortedData[0];
    },

    getSetCode(set) {
      return `[${set.code}]`.padStart(this.setCodeLength, " ");
    },
    getSetLabel(set) {
      return `${this.getSetCode(set)} ${set.name}`;
    },
    /**
     * Returns the number of cards in the collection.
     *
     * @param {Array} cards
     * @return {Number}
     */
    getCardCount(cards) {
      let count = 0;

      for (let card of cards) {
        count += parseInt(card.number_of_copies);
      }

      return count;
    },
    setDefaultDetailedCardFormData() {
      this.detailedCardForm.number_of_copies = 1;
      this.detailedCardForm.setnumber = "";
      this.detailedCardForm.rarity_id = this.lastUsedRarity;
      this.detailedCardForm.set_id = this.lastUsedSet;
      this.detailedCardForm.language_id = this.lastUsedLanguage;
      this.detailedCardForm.card_id = 0;
      this.detailedCardForm.id = 0;
    },
    createDetailedCard() {
      this.closeDetailedCardCreateDialog();
      this.isLoading = true;
      this.apiUtility.call(
        "detailed_cards",
        "POST",
        {
          number_of_copies: this.detailedCardForm.number_of_copies,
          setnumber: this.detailedCardForm.setnumber,
          rarity_id: this.detailedCardForm.rarity_id,
          set_id: this.detailedCardForm.set_id,
          card_id: this.detailedCardForm.card_id,
          language_id: this.detailedCardForm.language_id,
        },
        async () => {
          ElMessage({ message: "Successfully created new detailed card.", type: "success" });
          this.lastUsedLanguage = this.detailedCardForm.language_id;
          this.lastUsedSet = this.detailedCardForm.set_id;
          this.lastUsedRarity = this.detailedCardForm.rarity_id;
          this.setDefaultDetailedCardFormData();
          await this.updateData();
          this.isLoading = false;
        }
      );
    },
    /**
     * Updates an existing card.
     */
    updateDetailedCard() {
      this.closeDetailedCardUpdateDialog();
      this.isLoading = true;
      this.apiUtility.call(
        `detailed_cards/${this.detailedCardForm.id}`,
        "PATCH",
        {
          number_of_copies: this.detailedCardForm.number_of_copies,
          setnumber: this.detailedCardForm.setnumber,
          rarity_id: this.detailedCardForm.rarity_id,
          set_id: this.detailedCardForm.set_id,
          language_id: this.detailedCardForm.language_id,
        },
        async () => {
          ElMessage({ message: "Successfully updated new detailed card.", type: "success" });
          this.lastUsedLanguage = this.detailedCardForm.language_id;
          this.lastUsedSet = this.detailedCardForm.set_id;
          this.lastUsedRarity = this.detailedCardForm.rarity_id;
          this.setDefaultDetailedCardFormData();
          await this.updateData();
          this.isLoading = false;
        }
      );
    },
    createCard() {
      this.closeCardCreateDialog();
      this.isLoading = true;
      this.apiUtility.call(
        "cards",
        "POST",
        {
          name: this.cardForm.name,
          game_id: this.gameId,
        },
        async () => {
          ElMessage({ message: "Successfully created new card", type: "success" });
          await this.updateData();
          this.isLoading = false;
        }
      );
    },
    updateCard() {
      this.closeCardUpdateDialog();
      this.isLoading = true;
      this.apiUtility.call(
        `cards/${this.cardForm.id}`,
        "PATCH",
        {
          name: this.cardForm.name,
          game_id: this.gameId,
        },
        async () => {
          ElMessage({ message: "Succesfully updated card", type: "success" });
          await this.updateData();
          this.isLoading = false;
        }
      );
    },
    /**
     * Deletes the given card.
     *
     * @param {Object} card The card that will be deleted
     */
    deleteCard(card) {
      ElMessageBox.confirm("Do you really want to delete this card?", "warning")
        .then(() => {
          this.isLoading = true;
          this.apiUtility.call(`cards/${card.id}`, "DELETE", null, async () => {
            ElMessage({ message: "Successfully deleted card.", type: "success" });
            await this.updateData();
            this.isLoading = false;
          });
        })
        .catch(() => {});
    },
    formatNumber(number) {
      return number.toFixed(2) + " €";
    },
    /**
     * Returns the total value of the cards in the collection.
     *
     * @param {Array} cards
     * @return {Number}
     */
    getValueOfCollection(cards) {
      let collectionValue = 0;

      for (let card of cards) {
        if (card.value) {
          collectionValue += parseFloat(card.value);
        }
      }

      return this.formatNumber(collectionValue);
    },
  },
};
</script>

<style lang="scss">
.el-dialog {
  max-width: 350px;
}

.el-table .el-table__cell {
  padding: 4px 0;

  .cell {
    white-space: nowrap;
  }
}

.card-collection {
  max-height: 100%;
  display: grid;
  gap: 0;
  grid-template-rows: min-content min-content 1fr;
  overflow: hidden;
}

.content {
  h2 {
    font-size: 18px;
    line-height: 1.5;
  }

  h3 {
    font-size: 16px;
    line-height: 1.5;
  }

  p {
    max-width: 90ch;
    white-space: pre-line;
    font-size: 14px;
    line-height: 1.5;
  }
}

.card-collection .el-col-20 {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .el-button {
    align-self: flex-start;
  }
}

.bottom {
  overflow: hidden;
  display: grid;
  gap: 20px;
  grid-template-rows: min-content 1fr min-content;
}

.table {
  overflow-y: scroll;
}
</style>
