<template>
  <el-container>
    <el-container>
      <el-header>
        <el-menu mode="horizontal" :router="true">
          <el-menu-item index="/yugioh/cards">Yu-Gi-Oh!</el-menu-item>
          <el-menu-item index="/magic/cards">Magic the Gathering</el-menu-item>
          <el-menu-item index="/duelmasters/cards">Duel Masters</el-menu-item>
          <el-menu-item index="/pokemon/cards">Pokémon</el-menu-item>
          <el-menu-item index="/duelmasters/cards">Digimon</el-menu-item>
        </el-menu>
      </el-header>
      <el-main>
        <router-view :key="$route.fullPath"></router-view>
      </el-main>
    </el-container>
  </el-container>
</template>

<script>
export default {
  name: "App",
};
</script>

<style lang="scss">
html,
body {
  font-family: sans-serif;
  margin: 0;
}

.el-container {
  display: grid;
  height: 100vh;
  grid-template-rows: min-content 1fr;
}

.el-image {
  max-width: 275px;
  max-height: 275px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  object-fit: contain;
  display: block;
}

.monospace {
  font-family: monospace;

  .cell {
    white-space: pre !important;
  }
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;

  + p {
    margin-top: 0;
  }
}
</style>
